<div class="page-header">
  <h1>
    Turn the Lights On
  <div class="row">
    <div class="col-sm-12">
      <p class="lead">
    </button> <%= @wrong %><button type="button">rgb</button></i></a>
    </button> <%= @wrong %><button type="button">output</button></i></a>
  </h1>
</div>
<%= button_to "rgb", @wrong, :method => "do" %>
</div>