<h1 class="section-heading">Basics</h1>
<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->

<!-- Content Section -->
<div class="row">
  <div class="col-sm-12">
    <p class="lead">What is cStyle? 
  </div>
<div class="row">
cStyle is designed to teach you basic coding structure, like how do you start a line of code or what is the sequential order a of code? After learning cStyle you will understand the fundamentals of coding and can go on to learn more advanced programming languages. 
</div>
<div class="row">
  <img src="/images/basicspafe.png">
  </div>
  <div class="lead">How does it work? 
  <div class="row">
PinkThink’s cStyle coding language is based on ladder logic programming. Ladder logic is used to develop software for programmable logic controllers (PLCs). A programmable controller is a digital computer that controls many different types of machinery. cStyle Bracelets have many different components that are controlled by a PLC that you tell what to do with the codes you write.
  </div>
</p>
  </div>
</div>
<section>
  <div class="container">
       <div class="row">
           <div class="col-lg-12">
               <h1 class="section-heading">Coding</h1>
              <p class="section-paragraph">You should read code from left to right and top to bottom.</p>
          </div>
          <div class="row">
           <div class="col-lg-12">
            <p class="section-paragraph">Sections</p>
            <img src="/images/sections.png">
             </div>
          <div class="row">
            <p class="section-paragraph">cStyle has 4 Building Blocks</p>
            </div>
             <div class="row">
              <div class="col-lg-12"> <img src="/images/logic1.png">In programming logic is used to restrict your code. It sets up conditions your code has to follow in order for it to work. cStyle does this by using  “if” “then” and  “else”. <img src="/images/iflogic.png">
            </div>
            <div class="row">
             <div class="col-lg-12"> <img src="/images/function.png">Functions are action blocks. When this action block is powered, it tells the variable blocks what to do.</div>
            <div class="row">
              <div class="col-lg-12"> <img src="/images/variables.png">In coding language  a variable represents some specific thing or set of things. This thing is defined by the value you give it.</div>
            <div class="row">
            <div class="col-lg-12"> <img src="/images/value.png">Values are basically data. A value tells you information about the variable.
            </div>
</section>

            <div class="row">
              <div class="col-xs-12"> 
<div class="lead">Does the structure of our coding language look familiar to you? It should since it consists of samne common parts of speech a sentence has!</div>
<div class="row"> 
<p class="section-paragraph">You can think of variables as a noun that receives the action and usually follows the  function(verb). Values act similarly to adjectives and add meaning and modify the characteristics of variables (nouns). “If” “then” and “else” serve as our conjunctions and connect our code together.
</p>
     </div>
  </div>
</section>